import(methods)
export(IndependentTypeSpecification, SimultaneousTypeSpecification, ReturnTypeSpecification, TypedSignature, StrictIsTypeTest, InheritsTypeTest)
export(checkArgs, checkReturnValue)
export(typeInfo, "typeInfo<-")

export(paramNames)
## export(rewriteTypeCheck)

exportClasses("TypeSpecification", "IndependentTypeSpecification", "SimultaneousTypeSpecification", "ReturnTypeSpecification")

exportClasses("NamedTypeTest", "InheritsTypeTest", "StrictIsTypeTest", "DynamicTypeTest", "ClassNameOrExpression")

exportClasses("TypedSignature")

exportMethods("coerce", "checkArgs", "showTypeInfo")
exportMethods("initialize")

# Print methods.

## S3method("print", InheritsTypeTest)
## S3method("print", StrictIsTypeTest)

S3method("print", IndependentTypeSpecification)
S3method("print", SimultaneousTypeSpecification)
S3method("print", TypedSignature)

export(hasParameterType, hasReturnType)

#XXX For testing only
#export(checkType)

